

.dashboard{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  width: 100%;


}
.dashboard a{
  color: #2d2c2c;
  width:calc(100% / 6);
  padding: 10px;
  background-color: #cbbdb0;
  font-size: 16px;
  text-align: center;

}

.dashboard a span{
  font-weight: bold;
  font-size:20px;
}
