footer {
  width:100%; /* Establecemos que el header abarque el 100% del documento */
  overflow:hidden; /* Eliminamos errores de float */
  background:#252932;
  margin-bottom:20px;
  box-shadow: 0px 9px 8px 2px rgba(0, 0, 0, 0.75);
}
 
.wrapper {
  width:90%; /* Establecemos que el ancho sera del 90% */
  margin:auto; /* Centramos los elementos */
  overflow:hidden; /* Eliminamos errores de float */
}
 
header .logo {
  width: 70px;
  height: 70px;
  line-height:100px;
  float:left;
  background: url(../../img/logo3.png) center / cover no-repeat;
}
 
footer nav {
  float:right;
  line-height:60px;
}
 
footer nav a {
  margin-top: 25px;
  display:inline-block;
  color:#fff;
  text-decoration:none;
  font-family: helvetica, sans-serif;
  padding: 5px 20px;
  line-height:normal;
  font-size:15px;
  font-weight:bold;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}
 
footer nav a:hover {
  background:#0b6daa;
  border-radius:50px;
}
.icono_usuario{
    float:left;
    line-height: 70px;
}
