.flex{
  display: flex;
}

.tabla {
  color: #fff;
  font-family: helvetica, sans-serif;
 min-width: 600px;
  background: rgba(3, 3, 3, 0.7);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;
  animation-name: aparecer;
  animation-duration: 1s;
}


.overflow {
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

.tabla-titulo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
 font-size: 1.5em;
  padding: 10px 0;
  background: #f56f3a; 
}

.tabla table {
  padding: 10px;
  border-collapse: collapse;
 margin: auto;
}

.tabla td,
.tabla th {
  text-align: center;
  border: 2.2px solid #aaa;
  color: #222;
  height: 30px;
  padding: 0 10px;
}
.tabla th {
  background: #0094b0;
  color: #fff;
}

.tabla tr{
  background: #eee;
}
.tabla tr:hover{
  background: #ddd;
}

.tabla td .crud {
  text-decoration: none;
  margin: 5px 0;
  color: #fff;
  background: rgba(3, 3, 3, 0.7);
  padding: 7px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  transition: all ease .2s;
}
.tabla td .crud:hover {
  background:#0b6daa ;
  cursor: pointer;
}

.tabla .bottom {
  padding: 15px;
  color: #fff;
  text-align: right;
}
.tabla .bottom a{
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background: #0b6daa;
  transition: all ease .5s;
}
.tabla .bottom a:hover{
  background: #254547;
}

.tabla tbody {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tabla .vacio {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,.5);
}
.caja1{
background:#254547;
border-radius: 5px;
color: #fff;
position: absolute;
width: 15%;
left: 10%;
bottom:10px;
top:190px;
height: 30%;
}
.usuarios{

  width:65%;
}
.vehiculos{

  width: 65%;
  height: 65%;
  padding: 2px 2px 2px 2px;
}
  
.caja2{
background:#f56f3a;
border-radius: 5px;
color: #fff;
position: absolute;
left: 30%;
width: 15%;;
bottom:10px;
top:190px;
height: 30%;
}
  
.caja3{
background:black;
border-radius: 5px;
color: #fff;
position: absolute;
left: 50%;
width: 15%;;
bottom:10px;
top:190px;
height: 30%;
}
.caja4{
background:#0b6daa;
border-radius: 5px;
color: #fff;
position: absolute;
left: 70%;
width: 15%;;
bottom:10px;
top:190px;
height: 30%;
}
